<#assign base=request.contextPath />
<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Work</title>
    <link type="image/x-icon" rel="shortcut icon" href="${base}/images/icon.ico" />
    <link href="${base}/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="width: 100%; height: 100%; margin-left: 2em;">
    <h1 >本项目主要做一些测试项目使用，或者验证一些测试代码使用。</h1>

    <hr size="2" style="width: 90%; margin-bottom: 1em; margin-top: 1.5em;">

    <h3>GitHub: <a href="https://github.com/lanzhu259X/test_project" target="_blank">https://github.com/lanzhu259X/test_project</a></h3>

    <script src="${base}/js/jquery.min.js"></script>
    <script src="${base}/js/bootstrap.min.js"></script>
</body>

</html>